<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Pesquisar Pessoas por Nome ou Idade</h3>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-6">
                    <form #pesquisarnome="ngForm">
                        <div class="input-group mb-3">
                            <input pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" type="text" name="nome"
                                [(ngModel)]="nome" class="form-control" placeholder="Nome...">
                            <div class="input-group-append">
                                <button [disabled]="!pesquisarnome.valid" (click)="PesquisarPessoasNome()"
                                    class="btn btn-outline-secondary" type="submit"
                                    id="button-addon2">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form #pesquisaridade="ngForm">
                        <div class="input-group mb-3">
                            <input pattern="[0-9]+$" type="text" name="idade" [(ngModel)]="idade" class="form-control"
                                placeholder="Idade...">
                            <div class="input-group-append">
                                <button [disabled]="!pesquisaridade.valid" (click)="PesquisarPessoasIdade()"
                                    class="btn btn-outline-secondary" type="submit"
                                    id="button-addon2">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOME</th>
                        <th>IDADE</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas" class="text-center">
                        <td>{{pessoa.id}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.idade}}</td>
                        <td>
                            <button (click)="Editar(pessoa)" class="btn btn-warning"
                                style="margin: 5px">Atualizar</button>
                            <button style="margin-left: 10px;" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" (confirm)="Deletar(pessoa)"
                                (cancel)="cancelClicked = true" class="btn btn-danger">
                                Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>