<div class="container">
    <div class="card">
        <div class="card-header">
                <div class="input-group mb-3">
                        <input type="text" name="nome" [(ngModel)]="nome" class="form-control" placeholder="Nome..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        <button (click)="PesquisarPessoas()" class="btn btn-outline-secondary" type="submit" id="button-addon2">Pesquisar</button>
                        </div>
                      </div>
            <h3>Pessoas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOME</th>
                        <th>IDADE</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas" class="text-center">
                        <td>{{pessoa.id}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.idade}}</td>
                        <td>
                            <button (click)="Editar(pessoa)" class="btn btn-warning" style="margin: 5px">Atualizar</button>
                            <button style="margin-left: 10px;"
                            mwlConfirmationPopover
                            [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage"
                            placement="left"
                            (confirm)="Deletar(pessoa)"
                            (cancel)="cancelClicked = true"
                            class="btn btn-danger"> 
                            Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
