<div style="text-align:center">
  <h1>
    API Restful<br>
    Cadastro de Pessoas
  </h1>
  <img width="250" alt="Logo API"
    src="assets/img/logo.png">
</div>
<br>

<div class="container" style="text-align: center">
  <button (click)="Listar()" class="btn btn-info" style="margin: 0.5%">Listar Tudo</button>
  <button (click)="Novo()" class="btn btn-info" style="margin: 0.5%">Cadastrar</button>
  <button (click)="Novo()" class="btn btn-info" style="margin: 0.5%">Exportar</button>
  <button (click)="Pesquisar()" class="btn btn-info" style="margin: 0.5%">Pesquisar</button>
</div>
<hr>
<router-outlet></router-outlet>