<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Atualizar Dados</h3>
        </div>
        <div class="card-body">
            <form #f="ngForm" action="">
                <div class="form-grupo">
                    <label for="nome">Nome:</label>
                    <input [(ngModel)]="pessoa.nome" name="nome" type="text" class="form-control" #nome="ngModel"
                        pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" minlength="3" required />
                    <span class="help-block" *ngIf="!nome.valid && nome.touched">
                        <ul>
                            <li *ngIf="nome.errors.required" style="color: red">
                                Nome é obrigatório.
                            </li>
                            <li *ngIf="nome.errors.pattern" style="color: red">
                                Somente Letras.
                            </li>
                            <li *ngIf="nome.errors.minlength" style="color: red">
                                Mínimo de 3 letras.
                            </li>
                        </ul>
                    </span>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-grupo">
                                <label for="idade">Idade:</label>
                                <input type="text" class="form-control" [(ngModel)]="pessoa.idade" name="idade" #idade="ngModel"
                                    pattern="[0-9]+$" required />
                                <span class="help-block" *ngIf="!idade.valid && idade.touched">
                                    <ul>
                                        <li *ngIf="idade.errors.required" style="color: red">
                                            Idade é obrigatório.
                                        </li>
                                        <li *ngIf="idade.errors.pattern" style="color: red">
                                            Somente Números.
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-grupo">
                                    <label for="sexo">Sexo:</label>   
                                </div>     
                                <select class="custom-select" id="inputListar" aria-label="Lista as opcoes" [(ngModel)]="pessoa.sexo" name="sexo" #sexo="ngModel">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                        </div>            
                    </div>
                <br>
                <button (click)="Atualizar(pessoa)" class="btn btn-warning" [disabled]="!f.valid"
                    type="submit"><i class="fas fa-edit"></i> Atualizar</button>
            </form>
        </div>
    </div>
</div>